@{
    Layout = null;
}
    <div class="tudo" style="width:100%;">
        @if (ViewBag.id == 5)
        {
            <img id="myImg" src="~/Imagens/Politica/Politica de Desconto e Parcelamento.jpg" style="width:100%;max-width:900px;text-align:center">
        }

    </div>
