@{
    Layout = null;
}
    <div class="tudo" style="width:100%;">
        @if (ViewBag.id == 1)
        {
            <style>

                .center {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }

                #ros {
                    width: 30px;
                    height: 30px;
                    background-color: rgb(214, 11, 82);
                    margin-left: -10px;
                    margin-top: -40px;
                }

                #txt {
                    color: red;
                }

                a {
                    color: red;
                }

                p {
                    font-size: 19px;
                    text-align: center;
                    font-family: Arial;
                }

                #row {
                    padding: 20px;
                }
                ul{
                    display:flex;
                    justify-content:center;
                }
                ul li {
                    text-decoration: none;
                    display: inline-block;
                }
                li{
                    padding:30px;
                }
            </style>
            <p>
                Portfolio de Produtos
            </p>
            <ul>
                <li>
                    <div id="row" style=" border: 0px solid;padding: 18px; box-shadow: 2px 2px #888888; height:90px; width:300px;">
                        <h4 class="card-title" style="margin-left:40px;">Vale Pedágio</h4>
                        <a href="#" title="Informações" style="color:red; margin-left:40px;" data-value="1">@Html.ActionLink("Mais informações", "ValePedagio", "Home")</a>
                        <div id="ros"></div>
                    </div>
                </li>

                <li>
                    <div id="row" style=" border: 0px solid;padding: 18px; box-shadow: 2px 2px #888888; height:90px; width:300px;">
                        <h4 class="card-title" style="margin-left:40px;">Vale Pedágio</h4>
                        <a href="#" title="Informações" style="color:red; margin-left:40px;" data-value="1" ;>@Html.ActionLink("Mais informações", "ValePedagio", "Home")</a>
                        <div id="ros"></div>
                    </div>
                </li>
            </ul>
            <!--<div class="center">

            <div class="row">
                <div class="col-sm"  id="row" style=" border: 0px solid;padding: 18px; box-shadow: 2px 2px #888888; height:90px; width:300px;">
                    <h4 class="card-title">Vale Pedágio</h4>
                    <a href="#" title="Informações" style="color:red;" data-value="1">@Html.ActionLink("Mais informações", "ValePedagio", "Home")</a>
                    <div id="ros"></div>
                </div>


                <div class="col-sm" style="border: 0px solid;padding: 10px; box-shadow: 2px 2px #888888; height:90px; width:300px;">
                    <h4 class="card-title">Vale Pedágio</h4>
                    <a href="#" title="Informações" style="color:red;" data-value="1">@Html.ActionLink("Mais informações", "ValePedagio", "Home")</a>
                    <div id="ros"></div>
                </div>


            </div>

        </div>





            -->





        }
        @if (ViewBag.id == 2)
        {
            <img id="myImg" src="~/Imagens/2/Descontos-1.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 3)
        {
            <img id="myImg" src="~/Imagens/3/Parcelamento 2-1.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 4)
        {
            <img id="myImg" src="~/Imagens/4/Proibições-1.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 5)
        {
            <img id="myImg" src="~/Imagens/5/6 Erros que zeram sua monitora - MASSIVO-1.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 6)
        {
            <img id="myImg" src="~/Imagens/6/6 Erros que zeram sua monitora - TOP-1.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 7)
        {
            <img id="myImg" src="~/Imagens/7/CAMPANHA.jpg" style="width:100%;max-width:900px;text-align:center">
        }
        @if (ViewBag.id == 8)
        {
            <img id="myImg" src="~/Imagens/8/Parabens.jpg" style="width:100%;max-width:900px;text-align:center">
        }

    </div>
