@{
    Layout = null;
}
<div class="tudo" style="width:100%;">
    @if (ViewBag.id ==1)
    {
        <style>
            .t {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .center {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            #ros {
                width: 30px;
                height: 30px;
                background-color: rgb(214, 11, 82);
                margin-left: 40px;
                margin-top: -37px;
            }

            #txt {
                color: red;
            }

            a {
                color: red;
            }

            p {
                font-size: 19px;
                text-align: center;
                font-family: Arial;
            }
        </style>
     
        <div class="t">
            <div class="row">
                <div class="center">
                    <div class="col-sm" style="margin-top: 70px; height:90px;">
                        <div class="card gedf-card" id="img" style="width:300px; border: 0px solid;padding: 10px; box-shadow: 2px 2px #888888; height:90px;">
                                <h4 class="card-title">MOVIDA</h4>
                                <a href="#" title="Informações" data-value="1">@Html.ActionLink("Mais informações", "MOVIDA", "Home")</a>
                                <div id="ros"></div>
                        </div>


                        <div class="col-sm" style="margin-top: 110px;border: 0px solid;padding: 10px; box-shadow: 2px 2px #888888; height:90px;">
                            <h4 class="card-title">BEEPBEEP</h4>
                            <a href="#" title="Informações" style="color:red;" data-value="1">@Html.ActionLink("Mais informações", "BEEPBEEP", "Home")</a>
                            <div id="ros"></div>
                        </div>




                    </div>




                    <div class="center">
                        <div class="container-fluid gedf-wrapper">

                            <div class="col-sm">

                                <div class="card-block block-1">
                                    <img src="~/Imagens/imgV/img1.png" style="width:70%;" />
                                </div>

                            </div>

                            <div class="col-sm">

                                <div class="card-block block-1">
                                    <img src="~/Imagens/imgV/img2.png" style="width:70%;" />
                                </div>

                            </div>




                        </div>

                    </div>

                </div>

            </div>





        </div>









    }

</div>
